* {
    margin:0;
    padding: 0;
}
:root {
    --div: black;
    --background: rgb(33, 39, 30);
}
body {
    background-color: var(--background);
    width: 100vw;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-color: var(--div);
    color: white;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 15px 1px green;
}

header h1 {
    padding-left: 20px;
}

header div {
    display: flex;
    width: 30%;
    justify-content: space-between;
   
}

header div nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

header div nav a {
    color: white;
    text-decoration: none;
    font-size: x-large;
}

header div nav a:hover {
    color: greenyellow;
    text-decoration: underline;
    text-shadow: 1px 1px 25px rgb(160, 187, 7);
}

header p {
    padding-right: 20px;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 10px
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
    margin-top: 70px;
    width: 90%;
    height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 10px;
}

li {
    background-color: var(--div);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
    height: 400px;
    color: white;
    border-radius: 8px;
    transition: ease-in-out 0.2s;
}

li:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 15px 1px green;
    color: greenyellow;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    gap: 40px;
    width: 100%;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100px;
    background-color: var(--div);
    border-radius: 8px;
    border: none;
    color: white;
    font-size: x-large;
}

#loadMore {
    justify-self:center;
}

button:hover {
    transform: scale(1.08);
    box-shadow: 1px 1px 15px 1px green;
    color: greenyellow;
}

button:active {
    transform: scale(1.0);
}

.loading {
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.719);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: white;
    font-size: larger;
    font-weight: 600;
}

.show {
    display: flex;
}

@keyframes load {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(180deg);
    }
    
    to{
        transform: rotate(360deg);
    }
}

.load{
    animation: load 0.5s linear infinite;
}